<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="/"><img class="img-brand" src="/public/images/JessieLogo.png"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Shop
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/products/bathroom">Bathroom</a>
        <a class="dropdown-item" href="/products/closet">Closet</a>
        <a class="dropdown-item" href="/products/kitchen">Kitchen</a>
        <a class="dropdown-item" href="/products/bedroom">Bedroom</a>
        <a class="dropdown-item" href="/products/living_room">Living Room</a>
        <a class="dropdown-item" href="/products/human_quarters">Human's Quarters</a>
      </div>
    </li>

    <li class="nav-item">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </li>
  </ul>

  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle fa fa-user" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          {{# if login }}
            <a class="dropdown-item" href="/users/profile">Profile</a>
            <a class="dropdown-item" href="/users/logout">Log Out</a>
          {{ else }}
            <a class="dropdown-item" href="/users/login">Log In</a>
            <a class="dropdown-item" href="/users/signup">Sign Up</a>
          {{/if}}


    </li>

    <li class="nav-item">
      <a href="/products/shopping-cart" class="nav-link">
        <i class="fa fa-shopping-basket"></i>
        <span class="badge badge-primary">{{session.cart.totalQty}}</span>
      </a>
    </li>

  </ul>
</div>
</nav>
