<div class="bottom bg-light">
  <div class="container newsletter">
    <div class="row">
      <div class="col-md-8">
        <h2>
          Subscribe right meow!
        </h2>
        <hr>
        <form>
          <input type="email" class="form-control input-lg" placeholder="Catzrule@gmail.com">
          <br>
          <button class="btn btn-primary btn-lg btn-block">
          Submit
          </button>
        </form>
      </div>
      <div class="col-md-2">
        <h5>Section Header</h5>
        <ul>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Section Header</h5>
        <ul>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
        </ul>
      </div>
    </div>
  </div>
</div>
