<!DOCTYPE html>
<html>
  <head>
    <title>The Cat's House</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
  </head>
  <body>
    {{> header}}
    {{{body}}}
    {{> footer}}
    <script src="/scripts/jquery/dist/jquery.min.js" ></script>
    <script src="/scripts/popper.js/dist/umd/popper.min.js" ></script>
    <script src="/scripts/bootstrap/dist/js/bootstrap.min.js" ></script>
  </body>
</html>
