<!DOCTYPE html>
<html>
  <head>
    <title>The Cat's House</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
    <link rel='shortcut icon' href='/public/images/favicon.ico' type="image/x-icon" />
  </head>
  <body>
    <script src="/scripts/jquery/dist/jquery.min.js" ></script>
    {{> header}}
    {{{body}}}


    <script src="/scripts/popper.js/dist/umd/popper.min.js" ></script>
    <script src="/scripts/bootstrap/dist/js/bootstrap.min.js" ></script>

  </body>
</html>
