
.signup{
  //background: lighten($gray-100, 1%);
  .img-brand{
    width: 200px;
  }
  h3{
    margin-top: 10px;
    text-align: center;
  }
  margin: 20px 0;
  border: 2px solid $gray-300;
  border-radius: 5px;
  .btn{
    margin-bottom: 10px;
  }
}

.signup_login{
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
